body {
	margin: 0; min-width: 27em; font-size: 18pt; font-family: 'Ubuntu', sans-serif;
}

#title {
	text-align: center; font-size: 3em;
}

#title a {
	color: black;
}

#toc {
	text-align: center; font-size: 1.5em;
}

#toc ul {
	margin: 1em 0; padding: 0; list-style-type: none;
}

a {
	text-decoration: none; color: green;
}

#toc a {
	padding: 0.5em 1em; display: block; text-decoration: none; color: inherit; transition: ease-in-out 0.2s;
}

#toc a:hover {
	background-color: #EEE; transition: ease-in-out 0.2s;
}

p {
	padding: 0.3em 2em; margin: 0; text-indent: 2em;
}
