body {
	margin: 0;
	font-size: 14pt;
	font-family: 'Ubuntu', sans-serif;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.8em;
	overflow: hidden;
	color: white;
	background-color: #006600;
}

#nav a {
	text-decoration: none;
	color: inherit;
}

#nav ul li {
	float: left;
	display: inline-block;
	height: 42px;
}

#nav ul li:nth-child(4) {
	float: right;
	padding: 0 1%;
}

#user-avatar {
	padding: 0 0.3em 0 1.5%;
}

img {
	border-radius: 8px;
}

#user-name {
	padding: 0 0.3em;
}

.main-tab {
	padding: 0 0.3em;
}

#filter {
	width: 25%;
	position: fixed;
	margin: 1em 0 0 0;
}

.a-filter {
	margin: 1em 2em;
}

.filter-name {
	background-color: #00BB00;
	font-size: 1.2em;
	border-radius: 8px;
	display: inline-block;
	padding: 0.2em 0.3em;
	margin: 0 0 0.1em 0;
}

.filter-item {
	background-color: #00EE00;
	display: inline-block;
	padding: 3px;
	border-radius: 8px;
	margin: 0.2em 0 0 0;
}

.filter-item:hover {
	cursor: pointer;
}

#card {
	width: 55%;
	float: left;
	margin: 0 0 0 25%;
}

.a-card {
	margin: 1em 9% 0 0;
	border-radius: 0.6em;
	padding: 3px;
	background-color: #00AA00;
}

#ad {
	width: 20%;
	float: left;
}

.an-ad {
	margin: 1em 5%;
	border: 1px solid black;
	border-radius: 0.6em;
	padding: 3px;
}
