body {
	margin: 0;
	font-size: 14pt;
	font-family: 'Ubuntu', sans-serif;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 1.8em;
	overflow: hidden;
	color: white;
	background-color: #006600;
}

#nav a {
	text-decoration: none;
	color: inherit;
}

#nav ul li {
	float: left;
	display: inline-block;
	height: 42px;
}

#nav ul li:nth-child(4) {
	float: right;
	padding: 0 1%;
}

#user-avatar {
	padding: 0 0.3em 0 1.5%;
}

#user-avatar img {
	border-radius: 8px;
}

#user-name {
	padding: 0 0.3em;
}

.main-tab {
	padding: 0 0.3em;
}

#search-box {
	border-radius: 8px;
	background-color: #00BB00;
	height: 42px;
}



#filter {
	width: 25%;
	position: fixed;
	margin: 1em 0 0 0;
}

.a-filter {
	margin: 0 5% 12px 5%;
	cursor: pointer;
}

.a-filter span:nth-child(1) {
	display: inline-block;
	width: 2.5em;
	background-color: #00BB00;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	padding: 0.1em 0.3em;
}

.a-filter span:nth-child(2) {
	display: inline-block;
	width: 5em;
	background-color: #00EE00;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	padding: 0.1em 0.3em;
}

#card {
	width: 55%;
	float: left;
	margin: 0 0 0 25%;
}

.a-card {
	margin: 1em 9% 0 0;
	border: 1px solid black;
	border-radius: 0.6em;
	padding: 3px;
}

#ad {
	width: 20%;
	float: left;
}

.an-ad {
	margin: 1em 5%;
	border: 1px solid black;
	border-radius: 0.6em;
	padding: 3px;
}

.pane {
	width: 40%;
	height: 40%;
	position: fixed;
	margin: 10% 30%;
	display: block;
	background-color: #009900;
	border-radius: 8px;
	padding: 3px;
}

.pane div {
	display: inline-block;
	border-radius: 8px;
	padding: 3px;
	background-color: #00BB00;
	margin: 0.2em 0.4em;
}

.pane div:hover {
	background-color: #00CC00;
	cursor: pointer;
}

@media only screen and (max-width: 500px) {}